@layer theme,
base,
components,
utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

/* CSS variables */
:root {
  --color-primary: #000000;
  --color-secondary: #1fa84d;
  --color-secondary-faded: #003001;
  --color-tertiary: ivory;
  --color-menu-bg: rgb(40, 40, 40);
}

body,
html,
#root {
  height: 100%;
  background: linear-gradient(180deg,
      var(--color-primary),
      var(--color-secondary-faded));
  background-attachment: fixed;
}

h1,
h2,
h3 {
  color: var(--color-secondary)
}

p,
em,
li,
h4,
h5 {
  color: var(--color-tertiary);
  margin-bottom: 0;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s ease, transform 0.15s ease;
}

button:hover {
  background-color: var(--color-secondary-faded);
  transform: scale(1.03);
}